<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    
    <!-- Quicksand font -->
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css2?family=Quicksand:wght@300;400;500;600&display=swap" rel="stylesheet">

    <!-- Fontawesome -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css" integrity="sha512-iBBXm8fW90+nuLcSKlbmrPcLa0OT92xO1BIsZ+ywDWZCvqsWgccV3gFoRBv0z+8dLJgyAHIhR35VZc2oM/gI1w==" crossorigin="anonymous" />

    <!-- Vue.js -->
    <script src="https://cdn.jsdelivr.net/npm/vue"></script>

    <!-- Style CSS -->
    <link rel="stylesheet" href="css/style.css">
    <title>My boolzapp</title>
</head>


<body>
    <div id="root">
        <!-- Background -->
        <div class="bg">

            <!-- Inner container -->
            <div class="container">

                <!-- Left profiles section -->
                <div class="profiles">
                    <header class="profiles-header">

                        <!-- Profile column -->
                        <div class="header-left">
                            <div class="img-container">
                                <img src="img/avatar_4.jpg" alt="My img">
                            </div>
                            <h2>Myself</h2>
                        </div>
                        <!-- Icons right -->
                        <div class="header-right">
                            <i class="fas fa-circle-notch"></i>
                            <i class="fas fa-comment-alt"></i>
                            <i class="fas fa-ellipsis-v"></i>
                        </div>
                    </header>
                    
                    <!-- Notifications -->
                    <div class="notifications">
                        <div><i class="fas fa-bell-slash"></i></div>
                        <p>Ricevi notifiche di nuovi messaggi <br>
                            <span>Attiva notifiche desktop</span>
                        </p>
                    </div>

                    <!-- Contacts list -->
                    <div class="contacts">
                        <!-- Search section -->
                        <div class="search">
                            <div><i class="fas fa-search"></i></div>
                            <input v-model="search" type="text" @keyup="filterTodos" placeholder="Cerca o inizia una nuova chat">
                        </div>
                        <!-- Opened chats -->
                        <div class="contact-list">
                            <ul>
                                <!-- 
                                    Scorro l'array di oggetti e prendo contatto e indice, 
                                    se corrispondono la classe è active (bg grigio sulla lista a sx) + 
                                    scorre tutti gli user e al click mostra la conversazione corrispondente allo user.
                                -->
                                <li v-for="(contact, index) in contacts" class="contact" :class="contactIndex == index ? 'active' : ''" @click="changeContact(index)">
                                    <div class="img-container">
                                        <img :src="contact.avatar" alt="avatar">
                                    </div>
                                    <p> {{contact.name}} </p>
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>

                <!-- Rigth chat section -->
                <div class="chat">
                    <header class="chat-header">
                        <!-- Profile section -->
                        <div class="header-left">
                            <img :src="contacts[contactIndex].avatar" alt="profilo">
                            <p> {{contacts[contactIndex].name}} <br>
                                <span>Ultimo accesso:
                                    <!-- All'indice del messaggio, prendo la data del message -->
                                    {{contacts[contactIndex].messages[contacts[contactIndex].messages.length - 1].date}}</span>
                            </p>
                        </div>

                        <!-- Icons right -->
                        <div class="header-right">
                            <i class="fas fa-search"></i>
                            <i class="fas fa-paperclip"></i>
                            <i class="fas fa-ellipsis-v"></i>
                        </div>
                    </header>

                    <!-- Chat box -->
                    <div class="chat-box">
                        <div class="messages">
                            <!-- Scorriamo i messaggi in base allo stato (inviato/ricevuto) -->
                            <div :class="message.status" v-for="(message, index) in contacts[contactIndex].messages"> {{message.text}}
                                <!-- Inseriamo data e ora -->
                                <span class="data">{{message.date}}</span>
                            </div>
                        </div>
                    </div>

                    <!-- Chat input  -->
                    <div class="chat-input">
                        <i class="far fa-smile"></i>
                        <input placeholder="Scrivi un messaggio">
                        <i class="fas fa-microphone"></i>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <!-- Date/time -->
    <script src="https://unpkg.com/dayjs@1.8.21/dayjs.min.js"></script>
    <script type="text/javascript" src="js/script.js"></script>
</body>
</html>